{% extends 'base.html' %}

{% block title %}Notice List{% endblock %}
{% block head %}
{{ super() }}
<script>
socket = io.connect()
socket.on('notice_update', (data) => {
    console.log(data);
    notice_id = data.notice_id
    update_type = data.update_type;
    changed_data = data.changed_data;
    updateNoticeRow(notice_id, update_type, changed_data)
    console.log(update_type);

})
const updateNoticeRow = (notice_id, update_type, changed_data => {
    let row = document.getElementById(`notice-row-${notice_id}`);
    if(row===null) {
        row = document.createElement("tr");
        row.id=`notice-row-${notice_id}`
        let tableBody = document.querySelector('#notice-table tbody');
        tableBody.appendChild(row);
    }
    
    row.innerHTML = `
        <td>${notice.notice_id}</td>
        <td>${notice.name}</td>
        <td>${notice.forename}</td>
        <td>${notice.last_fetched}</td>
        <td>${notice.last_modified}</td>
        <td>${notice.first_fetched}</td>
        <td>
            <button class="btn btn-outline-primary btn-xs" 
                onclick="window.location.href='${notice.details_link}'">
                View
            </button>
        </td>
    `;
}

</script>
{% endblock %}
{% block content %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<table id="notice-table" class="table table-hover">
    <thead>
      <tr>
        <th>Notice ID</th>
        <th>Family Name</th>
        <th>Forename</th>
        <th>Last Fetched</th>
        <th>Last Modified</th>
        <th>First Fetched</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for notice in notices %}
        <td>{{notice.notice_id}}</th>
        <td>{{notice.name}}</td>
        <td>{{notice.forename}}</td>
        <td>{{notice.last_fetched}}</td>
        <td>{{notice.last_modified}}</td>
        <td>{{notice.first_fetched}}</td>
        <td>
            <button class="btn btn-outline-primary btn-xs" 
            onclick="window.location.href='{{ url_for('notice_view', notice_id=notice.notice_id) }}'">
            View</button>
        </td>
        {% endfor %}
      </tr>

    </tbody>
  </table>
{% endblock %}
